## Importing csv file into python using pandas:

First of all ,we import the pandas library.Pandas is usually imported under the 'pd' alias.we use as keyword to create an alias.

In [1]:
import pandas as pd

#### Reading a csv file into dataframe:

CSV (Comma Separated Values) is a simple file format used to store tabular data, such as a spreadsheet or database.

here ,we use pandas read_csv() function to read a comma-separated values (csv) file into DataFrame.

In [2]:
emp_df = pd.read_csv("C:\\Users\\DELL\\Desktop\\emp_data.csv")

In [3]:
emp_df.head()

   Emp_id          Name             Add                 Role             Email
0    2400  Ishan Sharma    rolls street       Data Scientist   isdev@gmail.com
1    2401  Gaurav Gupta    royce street      Cloud Developer   ggdev@gmail.com
2    2402    Ram Sharma  bugatti street  front end developer   rsdev@gmail.com
3    2403  shyam sharma  ferraro street           full stack   ssdev@gmail.com
4    2404   rohit singh    lykan street    database engineer  rssdev@gmail.com

#### Reading  only specific columns:

To read a CSV file with only specific columns call pd.read_csv(file_name, usecols=column_list) .Here file name specifies the name of the csv file and we pass the list of columns name to the usecols parameter to read the csv file with the columns specified in the list.

In [4]:
cols_list = ["Name", "Role"]
df = pd.read_csv("C:\\Users\\DELL\\Desktop\\emp_data.csv", usecols=cols_list)

In [5]:
df.head()

           Name                 Role
0  Ishan Sharma       Data Scientist
1  Gaurav Gupta      Cloud Developer
2    Ram Sharma  front end developer
3  shyam sharma           full stack
4   rohit singh    database engineer

## Importing excel file:

An excel file has a ‘.xlsx’ format. For importing an Excel file into Python using Pandas we have to use pandas.read_excel() function.

In [6]:
excel_df = pd.read_excel("C:\\Users\\DELL\\Desktop\\gamesbook.xlsx")
excel_df.head()

   Country  Year  No_of_medals  Games played
0    India  2015            12            24
1    China  2016            18            20
2  America  2015            17            28
3   Brazil  2016             6            14
4    Japan  2015            15            32

### Reading particular columns:

In [7]:
cols = [0, 2, 3]
df1 = pd.read_excel("C:\\Users\\DELL\\Desktop\\gamesbook.xlsx", usecols=cols)
df1.head()

   Country  No_of_medals  Games played
0    India            12            24
1    China            18            20
2  America            17            28
3   Brazil             6            14
4    Japan            15            32

###  selecting particular column as an index column:

Here we can specify a specific column as the indes column of the dataframe by passing the index no of the column to the index_col parameter while reading the excel file.

In [8]:
df2 = pd.read_excel("C:\\Users\\DELL\\Desktop\\gamesbook.xlsx",
                   index_col = 0)  
  
df2.head()

         Year  No_of_medals  Games played
Country
India    2015            12            24
China    2016            18            20
America  2015            17            28
Brazil   2016             6            14
Japan    2015            15            32

#### Skipping rows  while reading a excel file to Dataframe

if we assign N number to the skiprows parameter .Then the first N rows are skipped while reading the excel file.

In [9]:
df3 = pd.read_excel("C:\\Users\\DELL\\Desktop\\gamesbook.xlsx", skiprows=2)
df3.head()

     China  2016  18  20
0  America  2015  17  28
1   Brazil  2016   6  14
2    Japan  2015  15  32
3  England  2016   8  17
4    India  2016  14  23

## Importing text file:

#### opening a text file:

open(path_to_file, mode). the open function has many parameter .here we are studying about the major two .The path_to_file specifies the file location and the mode specifies the mode in which we wish to open the file.

 we append 'r' to 	Open a text file for reading text .
'w'	to Open a text file for writing text.
'a' to 	Open a text file for appending text.

To open the file, use the built-in open() function.

The open() function returns a file object, which has a read() method for reading the content of the file:

In [10]:
file1 = open("C:\\Users\\DELL\\Desktop\\dt.txt","r")
print(file1.read())

Today is a good day.
Tomorrow will be better.
In future I will make up the best day.

#### Reading from  file:

1. read() – read all text from a file into a string. 
2.readline() – read the text file line by line and return all the lines as strings.
3.readlines() – read all the lines of the text file and return them as a list of strings.

In [11]:
file2 = open("C:\\Users\\DELL\\Desktop\\dt.txt","r")
print(file2.read())

Today is a good day.
Tomorrow will be better.
In future I will make up the best day.

In [12]:
file3 = open("C:\\Users\\DELL\\Desktop\\dt.txt","r")
print(file3.readline())

Today is a good day.

In [13]:
file4 = open("C:\\Users\\DELL\\Desktop\\dt.txt","r")
print(file4.readlines())

['Today is a good day.\n', 'Tomorrow will be better.\n', 'In future I will make up the best day.']

### closing the file:

The file that you open will remain open until you close it using the close() method.close()method closes the file and frees the memory space acquired by that file.

In [14]:
file1.close()
print(file1.read())

ValueError: I/O operation on closed file.

### Using context manager 'with' to import the file:

To close the file automatically without calling the close() method, we make use of the context manager 'with'.

In [ ]:
with open("C:\\Users\\DELL\\Desktop\\dt.txt") as file:
    print(file.readline())

## Importing flat file from web:

Here we are importing file from the web.The file we are importing is forestfires.csv. The url for the file is 
https://archive.ics.uci.edu/ml/machine-learning-databases/forest-fires/forestfires.csv

Import the function urlretrieve from the urllib.request subpackage.

In [16]:
from urllib.request import urlretrieve

Assigning  the url of the file  to a variable.

In [17]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/forest-fires/forestfires.csv'

Using  the function urlretrieve to save this file locally. Pass two arguments to the function - the url of the website (which has been assigned to the variable ‘url’) and the name you want the file to be saved as.

In [18]:
urlretrieve(url, 'wildfire.csv')

fire_df= pd.read_csv('wildfire.csv')
fire_df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

## Web Scrapping with  python:

In [23]:
import requests
from bs4 import BeautifulSoup

# specifying the url
url ='https://www.datainsightonline.com/'

# Send a HTTP request to the specified URL
r = requests.get(url)
# Parsing the HTML content
soup = BeautifulSoup(r.content, 'html5lib')

#print(soup.prettify())

In [20]:
print(soup.title)

<title>Data Science for Everyone | Data Insight</title>

In [21]:
print(soup.title.prettify())

<title>
 Data Science for Everyone | Data Insight
</title>

In [24]:
print(soup.title.get_text())

Data Science for Everyone | Data Insight